@model Libvirt_WebManager.Areas.Domain.Models.Domain_Network_Down

<div id="GeneralNetworksasfd456">
    <div class="panel panel-default">
        <div class="panel-heading">Network</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    @using (Ajax.BeginForm("_Partial_Network", "Edit", new { Area = "Domain" }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "GeneralNetworksasfd456", LoadingElementId = "_GeneralNetworksasfd456_Form_spinner" }, new { @class = "form-horizontal" }))
            {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(a => a.Network.Host)
                        @Html.HiddenFor(a => a.Network.Parent)

                        <div class="form-group">
                            @Html.LabelFor(a => a.Network.Model_Type, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.EnumDropDownListFor(a => a.Network.Model_Type, new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Network.Model_Type)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(a => a.Network.network, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.DropDownListFor(a => a.Network.network, Model.Networks.Select(a => new SelectListItem
                               {
                                   Text = a.name,
                                   Value = a.name
                               }),
                            new { @class = "form-control" })
                                @Html.ValidationMessageFor(a => a.Network.network)
                            </div>
                        </div>
                        <button class="col-sm-offset-2 col-sm-10 btn btn-primary btn-block">
                            Save
                            @Html.Spinner("_GeneralNetworksasfd456_Form_spinner")
                        </button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>