@model Libvirt_WebManager.Areas.Domain.Models.Domain_Drive_Down

<div id="driveoptionerthi345">
    <script>
    
        function SelectVolumePool@(Model.Disk.Letter)() {
            Libvirt.UI.OpenDialog('@Html.Raw(Url.Action("_Partial_OS_PoolVolume_Selector", "Create", new {
                                  Area="Domain",
                                    Host = Model.Domain_Drive.Host,
                                    Select_ISO = Model.Disk.Disk_Device_Type == Libvirt.Models.Concrete.Disk.Disk_Device_Types.cdrom,
                                    Parent = Model.Domain_Drive.Host,
                                    PoolSelector = "Domain_Drive_Pool",
                                    VolumeSelector = "Domain_Drive_Volume"
                              }))');
        }
    </script>
    <div class="panel panel-default">
        <div class="panel-heading">Drive Options</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    @using (Ajax.BeginForm("_Partial_Drives", "Edit", new { Area = "Domain" }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "driveoptionerthi345", LoadingElementId = "driveoptionerthi345_Form_spinner" }, new { @class = "form-horizontal" }))
            {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(a => a.Domain_Drive.Host)
                        @Html.HiddenFor(a => a.Domain_Drive.Parent)
                        @Html.HiddenFor(a => a.Domain_Drive.ReadOnly)
                        @Html.HiddenFor(a => a.Domain_Drive.Letter)
                        <div class="row">
                            <div class="col-sm-6">
                                <dl class="dl-horizontal">
                                    <dt>
                                        Readonly
                                    </dt>
                                    <dd>
                                        @Model.Domain_Drive.ReadOnly
                                    </dd>
                                    <dt>
                                        Letter
                                    </dt>
                                    <dd>
                                        @Model.Domain_Drive.Letter
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Source_Startup_Policy, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Source_Startup_Policy, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Source_Startup_Policy)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Device_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Device_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Device_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Disk_Device_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Disk_Device_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Disk_Device_Type)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Snapshot_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Snapshot_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Snapshot_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Driver_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Driver_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Driver_Type)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Driver_Cache_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Driver_Cache_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Driver_Cache_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Device_Bus_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Device_Bus_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Device_Bus_Type)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Pool, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(a => a.Domain_Drive.Pool, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Pool)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Volume, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.TextBoxFor(a => a.Domain_Drive.Volume, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Volume)
                                    </div>
                                </div>
                            </div>
                            <button class="col-sm-2 btn btn-primary" onclick="SelectVolumePool@(Model.Disk.Letter)(); return false;">Select</button>
                        </div>

                        <button class="col-sm-offset-2 col-sm-10 btn btn-primary btn-block">
                            Save
                            @Html.Spinner("driveoptionerthi345_Form_spinner")
                        </button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>