@model Libvirt_WebManager.Areas.Domain.Models.Domain_Drive_Down

<div id="driveoptionerthi345">
    <script>
        $(document).ready(function () {

        });

    </script>
    <div class="panel panel-default">
        <div class="panel-heading">Boot Options</div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    @using (Ajax.BeginForm("_Partial_Drives", "Edit", new { Area = "Domain" }, new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "driveoptionerthi345", LoadingElementId = "driveoptionerthi345_Form_spinner" }, new { @class = "form-horizontal" }))
            {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(a => a.Domain_Drive.Host)
                        @Html.HiddenFor(a => a.Domain_Drive.Parent)
                        @Html.HiddenFor(a => a.Domain_Drive.ReadOnly)
                        @Html.HiddenFor(a => a.Domain_Drive.Letter)
                        <dl class="dl-horizontal">
                            <dt>
                                Readonly
                            </dt>
                            <dd>
                                @Model.Domain_Drive.ReadOnly
                            </dd>
                            <dt>
                                Letter
                            </dt>
                            <dd>
                                @Model.Domain_Drive.Letter
                            </dd>
                        </dl>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Device_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Device_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Device_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Device_Device_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Device_Device_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Device_Device_Type)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Snapshot_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Snapshot_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Snapshot_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Driver_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Driver_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Driver_Type)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Driver_Cache_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Driver_Cache_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Driver_Cache_Type)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(a => a.Domain_Drive.Device_Bus_Type, new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EnumDropDownListFor(a => a.Domain_Drive.Device_Bus_Type, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Domain_Drive.Device_Bus_Type)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="col-sm-offset-2 col-sm-10 btn btn-primary btn-block">
                            Save
                            @Html.Spinner("driveoptionerthi345_Form_spinner")
                        </button>

                    }
                </div>
            </div>
        </div>
    </div>
</div>