@model Libvirt_WebManager.ViewModels.BaseViewModel
<script>
    function showsomearea676(element, url){
        if($(element).is(':hidden')) $(element).load(url);
        else  $(element).empty();//good housekeeping!
        $(element).toggle();
    }
</script>
<div class="page-header">
    <h2>
        @Model.Parent
    </h2>
</div>
<div class="row">
    <a href="#" onclick="showsomearea676($(this).next(),'@Url.Action("_Partial_Details", "Edit", new { Area="Domain", Host = Model.Host, Parent= Model.Parent })'); return false;" class="btn btn-primary col-sm-2"><i class="fa fa-info-circle fa-lg"></i> Details</a>
    <div class="col-sm-10">
        @Html.Action("_Partial_Details", "Edit", new { Area = "Domain", Host = Model.Host, Parent = Model.Parent })
    </div>
</div>
<div class="row">
    <a href="#" onclick="showsomearea676($(this).next(),'@Url.Action("_Partial_CPU", "Edit", new { Area="Domain", Host = Model.Host, Parent= Model.Parent })'); return false;" class="btn btn-primary col-sm-2"><i class="fa fa-dashboard  fa-lg"></i> Processor</a>
    <div class="col-sm-10" style="display:none;">
    </div>
</div>
<div class="row">
    <a href="#" onclick="showsomearea676($(this).next(),'@Url.Action("_Partial_Memory", "Edit", new { Area="Domain", Host = Model.Host, Parent= Model.Parent })'); return false;" class="btn btn-primary col-sm-2"><i class="fa fa-sliders fa-lg"></i> Memory</a>
    <div class="col-sm-10" style="display:none;">
    </div>
</div>
<div class="row">
    <a href="#" onclick="showsomearea676($(this).next(),'@Url.Action("_Partial_Network", "Edit", new { Area="Domain", Host = Model.Host, Parent= Model.Parent })'); return false;" class="btn btn-primary col-sm-2"><i class="fa fa-wifi fa-lg"></i> Network</a>
    <div class="col-sm-10" style="display:none;">
    </div>
</div>
<div class="row">
    <a href="#" onclick="showsomearea676($(this).next(),'@Url.Action("_Partial_BootOptions", "Edit", new { Area="Domain", Host = Model.Host, Parent= Model.Parent })'); return false;" class="btn btn-primary col-sm-2"><i class="fa fa-gears fa-lg"></i> Boot Options</a>
    <div class="col-sm-10" style="display:none;">
    </div>
</div>
