@model Libvirt_WebManager.Areas.Storage_Pool.Models.Dir_Pool

<div id="_Partial_CreateDirPool_Form">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Storage Pool - Add Directory <small>@Model.Storage_Pool.Host</small></h4>
    </div>
    <div class="modal-body">
        @using (Ajax.BeginForm("_Partial_CreateDirPool", Html.Controller(), new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "_Partial_CreateDirPool_Form", InsertionMode = InsertionMode.ReplaceWith, LoadingElementId = "_Partial_CreateDirPool_Form_spinner" }))
        {
            <div class="row">
                <div class="col-sm-12">
                    @Html.HiddenFor(a => a.Storage_Pool.Host)
                    @Html.HiddenFor(a => a.Storage_Pool.name)
                    @Html.HiddenFor(a => a.Storage_Pool.pool_type)
                    <div class="form-group">
                        @Html.ValidationSummary()
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(a => a.path)
                        @Html.TextBoxFor(a => a.path, new { @class = "form-control" })
                        @Html.ValidationMessageFor(a => a.path)
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" title="This will cause the Pool to always start when the Host Starts up, otherwise it will have to be turned on manually">
                                @Html.LabelFor(a => a.AutoStart)
                                @Html.CheckBoxFor(a => a.AutoStart)
                                @Html.ValidationMessageFor(a => a.AutoStart)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" title="This will attempt to create, format or setup the underlying pool. If it is already set up, an error might be generated stating so.">
                                @Html.LabelFor(a => a.Build)
                                @Html.CheckBoxFor(a => a.Build)
                                @Html.ValidationMessageFor(a => a.Build)
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary pull-right">
                        Create
                        @Html.Spinner("_Partial_CreateDirPool_Form_spinner")
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer">

    </div>
</div>


