@model IEnumerable<Libvirt_WebManager.ViewModels.TreeViewModel>
<script>
    $(document).ready(function () {
        @foreach (var item in Model)
        {
            if (item.Node_Type == Libvirt_WebManager.ViewModels.TreeViewModel.Node_Types.Domains)
            {
                <text>context.attach('#@item.UniqueID', [{ text: "<div class='add_icon'>New VM</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_NewDomain", "Domain", new { host = item.Host })'); } }]);</text>
            } else if (item.Node_Type == Libvirt_WebManager.ViewModels.TreeViewModel.Node_Types.Interfaces)
            {
                <text>context.attach('#@item.UniqueID', [{ text: "<div class='add_icon'>New Interface</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_NewInterface", new { host = item.Name })'); } }]);</text>
            }else if (item.Node_Type == Libvirt_WebManager.ViewModels.TreeViewModel.Node_Types.Storage_Pools)
            {
                <text>context.attach('#@item.UniqueID', [{ text: "<div class='add_icon'>New Storage Pool</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_CreatePool", "Storage", new { host = item.Name })'); } }]);</text>
            }else if (item.Node_Type == Libvirt_WebManager.ViewModels.TreeViewModel.Node_Types.Domain)
            {
                <text>context.attach('#@item.UniqueID', [
                { text: "<div class='connect_icon'>Connect</div>", href: '#', action: function(){   } },
                { text: "<div class='settings_icon'>Settings</div>", href: '#' , action: function(){   } },
                { text: "<div class='start_icon'>Start</div>", href: '#' , action: function(){   } },
                { text: "<div class='shutdown_icon'>ShutDown</div>", href: '#', action: function(){   }  },
                { text: "<div class='migrate_icon'>Migrate</div>", href: '#' , action: function(){   } },
                { text: "<div class='edit_icon'>Rename</div>", href: '#', action: function(){   }  },
                { text: "<div class='delete_icon'>Delete</div>", href: '#', action: function(){   }  },
        ]);</text>
            }
        }

    });
</script>
<ul class="jqueryFileTree">
    @foreach (var item in Model)
    {
        if (item.IsDirectory)
        {
            <li id="@item.UniqueID" class="directory collapsed @(item.Node_Type.ToString().ToLower())_icon">
                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Index", item.Node_Type.ToString(), new { host = item.Host, p=item.Name })');" rel="@item.Path">@item.Name</a>
            </li>
        }
        else if (item.Node_Type == Libvirt_WebManager.ViewModels.TreeViewModel.Node_Types.Storage_Volume)
        {
            <li id="@item.UniqueID" class="file @(item.Node_Type.ToString().ToLower() + (item.Name.ToLower().EndsWith(".iso") ? "_iso" : ""))_icon">
                <a href="#" rel="@item.Path">@item.Name</a>
            </li>
        }
        else
        {
            <li id="@item.UniqueID" class="file @(item.Node_Type.ToString().ToLower())_icon">
                <a href="#" rel="@item.Path">@item.Name</a>
            </li>
        }
    }
</ul>
