<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/signalr/hubs"></script>
</head>
<body>
    <div class="container-fluid body-content">
        <div class="row">
            <div class="col-sm-3">
                @Html.Partial("~/Views/Host/_Partial_Host_Listing.cshtml")
            </div>
            <div class="col-sm-9">
                @RenderBody()

                @Html.Partial("~/Views/Message/_Partial_Log_Listing.cshtml")

            </div>
        </div>
        @Html.Partial("~/Views/Message/_Partial_Error_Event.cshtml")
    </div>
</body>
</html>
