@model Libvirt.CS_Objects.Host
@{
    var uniqueid = DateTime.Now.Ticks;
    if (Model != null)
    {
        var li_id = ViewBag.HostName.Replace(".", "_");
        <ul id="_@uniqueid">
            @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_Domains";}
            <li id="@(li_id)">
                <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetDoimains_TreeView", "Domain", new { host = ViewBag.HostName })" />
                <label for="item-@(li_id)" onclick="return false;"><span></span><span class="icon domains_icon"></span>Domains</label>
            </li>
            @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_Interfaces";}
            <li id="@(li_id)">
                <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetInterfaces_TreeView", "Interface", new { host = ViewBag.HostName })" />
                <label for="item-@(li_id)" onclick="return false;"><span></span><span class="icon interfaces_icon"></span>Interfaces</label>
            </li>
            @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_StoragePools";}
            <li id="@(li_id)">
                <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_GetPoolInfo_TreeView", "Storage", new { host = ViewBag.HostName })" />
                <label for="item-@(li_id)" onclick="return false;"><span></span><span class="icon storage_pools_icon"></span>Storage Pools</label>
            </li>
        </ul>
        <script>
            $(document).ready(function () {
                @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_Domains";}
                registercallsbacks('@li_id');
                context.attach('#@(li_id)', [{ text: "<div class='add_icon'>New VM</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_NewDomain", "Domain", new { host = ViewBag.HostName })'); } }]);
                @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_Interfaces";}
                registercallsbacks('@li_id');
                context.attach('#@(li_id)', [{ text: "<div class='add_icon'>New Interface</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_NewInterface", new { host = ViewBag.HostName })'); } }]);
                @{ li_id = "x" + ViewBag.HostName.Replace(".", "_") + "_StoragePools";}
                registercallsbacks('@li_id');
                context.attach('#@(li_id)', [{ text: "<div class='add_icon'>New Interface</div>", action: function () { Libvirt.UI.OpenDialog('@Url.Action("_Partial_CreatePool", "Storage", new { host = ViewBag.HostName })'); } }]);
            });
        </script>
    }
}
