@model Libvirt_WebManager.ViewModels.Storage.Storage_PoolBase
@{
    Libvirt._virStoragePoolInfo info;
    Model.Pool.virStoragePoolGetInfo(out info);
    var name = Model.Pool.virStoragePoolGetName();
    var someuiniqueid = "Pool_Details_" + name.Replace(".", "");

    var percentused = 0;
    if (info.capacity > 0)
    {
        var tmpd = (double)(info.capacity - info.allocation);
        tmpd = (tmpd / (double)info.capacity);
        percentused = ((int)(tmpd * 100) - 100) * -1;
    }
    var cl = "progress-bar-danger";
    if(percentused<25)
    {
        cl = "progress-bar-success";
    } else if (percentused < 50)
    {
        cl = "progress-bar-info";
    }
    else if (percentused < 75)
    {
        cl = "progress-bar-warning";
    }
}
<tr id="@someuiniqueid">
    <td>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_PoolInfo_MainContent", "Storage", new { host = Model.Host, pool = name})');return false;">@name</a>
    </td>
    <td>
        @Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)
    </td>
    <td>
        @Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)
    </td>
    <td>
        @Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.available)
    </td>
    <td>
        @info.state.ToString().Split('_').LastOrDefault()
    </td>
    <td>
        <div class="progress">
            <div class="progress-bar @cl progress-bar-striped" style="width: @percentused%" title="@percentused">
            </div>
        </div>
    </td>
    <td>
        @Html.Partial("_Partial_Pool_TableRowDetails_Commands", Model)
    </td>
</tr>


