@model Libvirt_WebManager.ViewModels.Storage.Storage_PoolBase
@{
    Libvirt._virStoragePoolInfo info;
    Model.Pool.virStoragePoolGetInfo(out info);
    var name = Model.Pool.virStoragePoolGetName();
    var someuiniqueid = "Pool_Details_" + name.Replace(".", "");
    bool poolactive = Model.Pool.virStoragePoolIsActive() == 1;

}


<div class="row" id="@(someuiniqueid)_Commands">
    <div class="col-sm-12">
        <a title="Refresh Pool Data" href="@Url.Action("_Partial_Refresh_Pool", "Storage", new {Host = Model.Host, Pool = name })" class="btn btn-xs btn-success" data-ajax-update="#@(someuiniqueid)_Commands" data-ajax-mode="replace-with" data-ajax="true">
            <i class="fa fa-refresh"></i>

        </a>
        <a title="Delete Volume" href="@Url.Action("_Partial_Delete_Pool", "Storage", new {Host = Model.Host, Pool = name })" class="btn btn-xs btn-danger" data-ajax-update="#@(someuiniqueid)_Commands" data-ajax-mode="replace-with" data-ajax="true" data-ajax-confirm="Are you sure that you want to delete this pool? This operation is non recoverable!">
            <i class="fa fa-trash"></i>
        </a>
        <a class="btn btn-xs btn-primary" title="Start Pool: This will start the pool, making all child volumes usable." @(poolactive ? "disabled='disabled'" : "") href="#"><i class="fa fa-play"></i></a>
        <a class="btn btn-xs btn-warning" title="Stop Pool: This will stop the pool making all child volumes un-usable!" @(!poolactive ? "disabled='disabled'" : "") href="#"><i class="fa fa-stop"></i></a>
    </div>
</div>


