@model Libvirt.CS_Objects.Host
@{
    Libvirt._virNodeInfo info;
    Model.virNodeGetInfo(out info);
    Libvirt._virNodeCPUStats[] cpustats = null;
    Model.virNodeGetCPUStats(-1, out cpustats);
    Libvirt._virNodeMemoryStats[] memstats = null;
    Model.virNodeGetMemoryStats(-1, out memstats);
}
<script>
    var cpudata = [
        @foreach (var item in cpustats)
        {
            if(item.field == "idle")
            {
    <text>{value: @item.value,color: "#46BFBD",highlight: "#5AD3D1",label: "@item.field"},</text>
            } else {
    <text>{ value: @item.value, color: "#F7464A",highlight: "#FF5A5E",label: "@item.field"},</text>
            }

        }
    ];
    var memdata = [
        @foreach (var item in memstats.Where(a=>a.field.ToLower() != "total"))
        {
            if(item.field == "free")
            {
        <text> { value: @((item.value +1) / 1024), color: "#46BFBD", highlight: "#5AD3D1",label: "@item.field" },</text>
            } else{
        <text> { value: @((item.value+1) / 1024), color: "#F7464A", highlight: "#FF5A5E", label: "@item.field"}, </text>
            }

        }
    ];

    $(document).ready(function () {
        var ctx = document.getElementById("Host_CPU_Usage_Graph").getContext("2d");
        var myNewChart = new Chart(ctx).Pie(cpudata);
        $('#cpulegend').html(myNewChart.generateLegend());
        ctx = document.getElementById("Host_Memory_Usage_Graph").getContext("2d");
        var myNewChart2 = new Chart(ctx).Pie(memdata);
        $('#memlegend').html(myNewChart2.generateLegend());
    });
</script>
<div class="row">
    <div class="col-sm-6">
        <dl class="dl-horizontal">
            <dt>
                Host Name
            </dt>
            <dd>
                @Model.virConnectGetHostname()
            </dd>
            <dt>
                Hypervisor
            </dt>
            <dd>
                @Model.virConnectGetType()
            </dd>
            <dt>
                Cpu Model
            </dt>
            <dd>
                @info.model
            </dd>
            <dt>
                Memory
            </dt>
            <dd>
                @Libvirt_WebManager.Utilities.String.Formatting.Format(((long)info.memory)*1024)
            </dd>
        </dl>
    </div>
    <div class="col-sm-6">
        <dl class="dl-horizontal">

            <dt>
                Cpu Count
            </dt>
            <dd>
                @info.cpus
            </dd>

            <dt>
                Mhz
            </dt>
            <dd>
                @info.mhz
            </dd>

            <dt>
                Core Count
            </dt>
            <dd>
                @info.cores
            </dd>

            <dt>
                Thread Count
            </dt>
            <dd>
                @info.threads
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col-sm-6" style="max-height:300px;">
        <h3>Cpu Usage</h3>
        <div id="cpulegend"></div>
        <canvas id="Host_CPU_Usage_Graph"></canvas>
    </div>
    <div class="col-sm-6" style="max-height:300px;">
        <h3>Memory Usage</h3><div id="memlegend"></div>
        <canvas id="Host_Memory_Usage_Graph"></canvas>
    </div>
</div>