@model Libvirt_WebManager.Areas.Domain.Models.PoolVolume_Selector
<script>
    function UpdateSelectors(selectedpool, selectedvolume) {
        $('#@Model.PoolSelector').val(selectedpool);
        $('#@Model.VolumeSelector').val(selectedvolume);
    }
</script>
<h3>Available Volumes</h3>
<table class="table table-striped table-striped table-responsive table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th title="Actual amount of space used by the volume.">Allocation</th>
            <th title="Amount of space the Volume is allowed to grow into.">Capacity</th>
            <th>Type</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vol in Model.Volumes)
        {
            var xmldesc = vol.virStorageVolGetXMLDesc();
            if (Model.Select_ISO && xmldesc.Volume_Type != Libvirt.Models.Concrete.Storage_Volume.Volume_Types.iso)
            {
                continue;
            }
         
            <tr>
                <td>@xmldesc.name</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)xmldesc.allocation)</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)xmldesc.capacity)</td>
                <td>@xmldesc.Volume_Type</td>
                <td><a href="#" class="btn btn-default btn-xs bg-success" data-dismiss="modal" onclick="UpdateSelectors('@Model.Parent', '@xmldesc.name');"><i class="fa fa-plus-square-o"></i></a></td>
            </tr>
        }

    </tbody>
</table>
