@model Libvirt_WebManager.Areas.Host.Models.GetHostsChildren_ViewModel

@{
    var arr = new string[] { "domain", "network", "storage_pool", "secret" };
    var arr_icons= new string[] { "fa-cube", "fa-cubes", "fa-cloud" ,"fa-user-secret"};
    var i = 0;
}
<ul>
    @foreach (var item in arr)
    {
        var plural = item + "s";
        var li_id = "x" + Model.HostName.Replace(".", "_") + "_" + plural;
        <li id="@(li_id)">
            <input type="checkbox" id="item-@(li_id)" data-urlpart="@Url.Action("_Partial_Index", "TreeListing", new { Area=item, host = Model.HostName })" />
            <label for="item-@(li_id)" onclick="return false;">
                <span></span>

                <i class="fa @arr_icons[i++]"></i>

                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_MainContent", "Listing", new { Area=item, host = Model.HostName })');return false;">@plural</a>
            </label>
        </li>
    }
</ul>
<script>
    $(document).ready(function () {
        @foreach (var item in arr)
        {
            var li_id = "x" + Model.HostName.Replace(".", "_") + "_" + item + "s";
            <text>registercallsbacks('@li_id');</text>
        }
    });
</script>


