@model Libvirt_WebManager.ViewModels.Domain.PoolVolume_Selector
<script>
    function UpdateSelectors(selectedpool, selectedvolume) {
        $('#@Model.PoolSelector').val(selectedpool);
        $('#@Model.VolumeSelector').val(selectedvolume);
    }
</script>
<h3>Available Volumes</h3>
<table class="table table-striped table-striped table-responsive table-hover table-condensed table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th title="Actual amount of space used by the volume.">Allocation</th>
            <th title="Amount of space the Volume is allowed to grow into.">Capacity</th>
            <th>Type</th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vol in Model.Volumes)
        {
            var name = vol.virStorageVolGetName();

            if ((Model.Select_ISO && !name.ToLower().EndsWith(".iso")) || (name.ToLower().EndsWith(".iso") && !Model.Select_ISO))
            {
                continue;
            }
            Libvirt._virStorageVolInfo info;
            vol.virStorageVolGetInfo(out info);
            <tr>
                <td>@name</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.allocation)</td>
                <td>@Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.capacity)</td>
                <td>@info.type.ToString().Split('_').LastOrDefault()</td>
                <td><a href="#" class="btn btn-default btn-xs bg-success" data-dismiss="modal" onclick="UpdateSelectors('@Model.Parent', '@name');"><i class="fa fa-plus-square-o"></i></a></td>
            </tr>
        }

    </tbody>
</table>
