@model Libvirt_WebManager.ViewModels.Domain.Domain_Down
@{
    Libvirt._virDomainInfo info;
    Model.Domain.virDomainGetInfo(out info);
    var name = Model.Domain.virDomainGetName();
    var someuiniqueid = "Domain_Details_" + name.Replace(".", "");

}
<tr id="@someuiniqueid">
    <td>
        @name
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Console", "novnc", new { host = Model.Host, domain = name })');return false;"><i class="fa fa-desktop"></i></a>
    </td>
    <td>
        @Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.maxMem * 1024)
    </td>
    <td>
        @Libvirt_WebManager.Utilities.String.Formatting.Format((long)info.memory * 1024)
    </td>
    <td>
        @info.nrVirtCpu
    </td>
    <td>
        @info.state.ToString().Split('_').LastOrDefault()
    </td>

    <td>
        <a href="@Url.Action("_Partial_Start", new { host = Model.Host, domain = name })" class="btn btn-xs btn-success" @(info.state != Libvirt.virDomainState.VIR_DOMAIN_SHUTOFF ? "disabled='disabled'" : "") data-ajax-update="#@someuiniqueid" data-ajax-mode="replace-with" data-ajax="true">
            <i class="fa fa-play"></i>
        </a>
        <a href="@Url.Action("_Partial_Delete", new { host = Model.Host, domain = name })" class="btn btn-xs btn-danger" data-ajax-update="#@someuiniqueid" data-ajax-mode="replace-with" data-ajax="true">
            <i class="fa fa-trash"></i>
        </a>
        <a title="This will send a request to the underlying OS to shut down. It is a gracefull shutdown" href="@Url.Action("_Partial_Stop", new { host = Model.Host, domain = name , gracefull=true})" class="btn btn-xs btn-warning" @(info.state == Libvirt.virDomainState.VIR_DOMAIN_SHUTOFF ? "disabled='disabled'" : "") data-ajax-update="#@someuiniqueid" data-ajax-mode="replace-with" data-ajax="true">
            <i class="fa fa-power-off"></i>
        </a>
        <a title="This will essentially pull the plug on the virtual machine, use with caution --Data loss can occur--" href="@Url.Action("_Partial_Stop", new { host = Model.Host, domain = name, gracefull=false })" class="btn btn-xs btn-danger" @(info.state == Libvirt.virDomainState.VIR_DOMAIN_SHUTOFF ? "disabled='disabled'" : "") data-ajax-update="#@someuiniqueid" data-ajax-mode="replace-with" data-ajax="true">
            <i class="fa fa-plug"></i>
        </a>
    </td>
</tr>

