@model Libvirt_WebManager.Areas.Domain.Models.Domain_Hardware_Down
@{

}
<ul>
    <li>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Details_MainContent", "Edit", new {Area="Domain", host = Model.Host, domain = Model.Parent})');return false;">
            <span class="icon details_icon"></span>
            Details
        </a>
    </li>
    <li>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_CPU_MainContent", "Edit", new {Area="Domain", host = Model.Host, domain = Model.Parent})');return false;">
            <span class="icon processor_icon"></span>
            Processor
        </a>
    </li>
    <li>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Memory_MainContent", "Edit", new {Area="Domain", host = Model.Host, domain = Model.Parent})');return false;">
            <span class="icon ram_icon"></span>
            Memory
        </a>
    </li>
    <li>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Boot_MainContent", "Edit", new {Area="Domain", host = Model.Host, domain = Model.Parent})');return false;">
            <span class="icon listing_icon"></span>
            Boot Options
        </a>
    </li>
    @foreach (var item in Model.Machine.Drives.Disks)
    {
        if (item.Device_Device_Type == Libvirt.Models.Concrete.Disk.Disk_Device_Types.disk)
        {
            <li>
                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Disk_MainContent", "Edit", new { Area = "Domain", host = Model.Host, domain = Model.Parent })');return false;">
                    <span class="icon storage_volume_icon"></span>@item.Letter
                </a>
            </li>
        }
        else if (item.Device_Device_Type == Libvirt.Models.Concrete.Disk.Disk_Device_Types.cdrom)
        {
            <li>
                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Disk_MainContent", "Edit", new { Area = "Domain", host = Model.Host, domain = Model.Parent })');return false;">
                    <span class="icon cdromdrive_icon"></span>@item.Letter
                </a>
            </li>
        }
        else
        {
            <li>
                <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Disk_MainContent", "Edit", new { Area = "Domain", host = Model.Host, domain = Model.Parent })');return false;">
                    <span class="icon storage_volume_icon"></span>@item.Letter
                </a>
            </li>
        }
    }
    @if (Model.Machine.graphics.Graphic_Type != Libvirt.Models.Concrete.Graphics.Graphic_Types.NONE)
    {
        <li>
            <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Graphics_MainContent", "Edit", new {Area="Domain", host = Model.Host, domain = Model.Parent})');return false;">
                <span class="icon domain_active_icon"></span>
                @Model.Machine.graphics.Graphic_Type
        </a>
        </li>
    }
    <li>
        <a href="#" onclick="LoadMainContent('@Url.Action("_Partial_Add_MainContent", "Edit", new { Area = "Domain", host = Model.Host, domain = Model.Parent })');return false;">
            <span class="icon add_icon"></span>Add New
        </a>
    </li>
</ul>


